{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="profile my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <div class="card text-center">
                    <div class="card__body dev">
                        <img class="avatar avatar--xl" src="{{ profile.imageURL }}" />
                        <h2 class="dev__name">{{profile.first_name | default:''}} {{profile.last_name | default:''}}</h2>
                        <p class="dev__title">{{profile.short_intro | default:''}}</p>
                        <p class="dev__location">Based in {{profile.location}}</p>
                        <ul class="dev__social">
                            {% if profile.social_github %}
                            <li>
                                <a title="Github" href="{{profile.social_github}}" target="_blank"><i
                                    class="im im-github"></i></a>
                            </li>
                            {% endif %}

                            {% if profile.social_x %}
                            <li>
                                <a title="X" href="{{profile.social_x}}" target="_blank"><i
                                    class="im im-twitter"></i></a>
                            </li>
                            {% endif %}

                            {% if profile.social_linkedin %}
                            <li>
                                <a title="LinkedIn" href="{{profile.social_linkedin}}" target="_blank"><i
                                    class="im im-linkedin"></i></a>
                            </li>
                            {% endif %}

                            {% if profile.personal_website %}
                            <li>
                                <a title="Personal Website" href="{{profile.personal_website}}" target="_blank"><i
                                    class="im im-globe"></i></a>
                            </li>
                            {% endif %}

                        </ul>
                        {% if request.user.profile.id != profile.id %}
                        <a href="{% url 'send-message' profile.id %}" class="btn btn--sub btn--lg">Send Message </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="column column--2of3">
                <div class="devInfo">
                    <h3 class="devInfo__title">About Me</h3>
                    <p class="devInfo__about">{{profile.bio | default:''}}</p>
                </div>
                <div class="devInfo">
                    <h3 class="devInfo__title">Skills</h3>
                    <div class="devInfo__skills">

                        {% for skill in topSkills %}
                        <div class="devSkill">
                            <h4 class="devSkill__title">{{skill.name}}</h4>
                            <p class="devSkill__info">{{skill.description}}</p>
                        </div>
                        {% endfor %}

                        <h3 class="devInfo__subtitle">Other Skills</h3>
                        <div class="devInfo__otherSkills">

                            {% for skill in otherSkills %}
                            <span class="tag tag--pill tag--sub tag--lg">
                                <small>{{skill}}</small>
                            </span>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="devInfo">
                    <h3 class="devInfo__title">Projects</h3>
                    <div class="grid grid--two">
                        {% for project in projects %}
                            {%  include 'projects/project_card.html' with project=project %}
                        {% endfor %}
                    </div>

                    {% if projects_gt_5 %}
                    <div>
                        <a href="{% url 'projects'%}?owner__username={{profile.username}}" class="btn--md btn--main">See more</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}