{% extends 'main.html' %}

{% load custom_filters %}

{% block content %}

<!-- Main Section -->
<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <h3 class="singleProject__subtitle">Tools & Stacks</h3>
                <div class="singleProject__toolStack">
                    {% for tag in project.tags.all %}
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>{{tag}}</small>
                    </span>
                    {% endfor %}

                </div>

                {% if project.source_link %}
                <a class="singleProject__liveLink" href="{{project.source_link}}" target="_blank"><i
                  class="im im-external-link"></i>Source Code
                </a>
                {% endif %}

                {% if project.demo_link %}
                <a class="singleProject__liveLink" href="{{project.demo_link}}" target="_blank"><i
                  class="im im-external-link"></i>Live Demo
                </a>
                {% endif %}

            </div>
            
            <div class="column column--2of3">
                <img class="singleProject__preview" src="{{ project.featured_image.url }}" alt="portfolio thumbnail" />
                {% if project.owner %}
                <a href="{% url 'profile' project.owner.id %}"
                    class="singleProject__developer">By {{ project.owner.first_name }} {{ project.owner.last_name }}</a>
                {% else %}
                    <span class="singleProject__developer">By Anonymous</span>
                {% endif %}
                
                <h2 class="singleProject__title">{{project.title}}</h2>
                <h3 class="singleProject__subtitle">About the Project</h3>
                <div class="singleProject__info">
                    {{project.description}}
                </div>
                <div class="comments">
                    <h3 class="singleProject__subtitle">Feedback</h3>
                    <h5 class="project--rating">
                        {{project.votes_ratio}}% Positive Feedback ({{project.votes_total}}) Vote{{project.votes_total | pluralize:"s"}}
                    </h5>

                    {% if request.user.profile.id in project.get_reviewers_ids and not edit_mode %}
                    <p>You have already submitted your review for this project 👍</p>

                    {% elif project.owner and  project.owner == request.user.profile %}
                    <p>You cannot review your own work 🚫</p>

                    {% elif request.user.is_authenticated %}
                    <form 
                        class="form"
                        action="{% if edit_mode %}{% url 'edit-project-review' review_id %}{% else %}{% url 'add-project-review' project.id %}{% endif %}"
                        method="POST"
                    >
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form__field">
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            {{ field }}
                        </div>
                        {% endfor %}

                        <div class="form__field--action">
                            {% if edit_mode %}
                            <a class="btn btn--md" href="{{request.META.HTTP_REFERER|default:'/'}}">Cancel</a>
                            {% endif %}
                            <input class="btn btn--sub btn--md" type="submit" value="{% if edit_mode %}Update{% else %}Save{% endif %}" />
                        </div>
                    </form>

                    {% else %}
                    <a href="{% url 'login' %}?next={{request.path}}">Please login to leave a review</a>
                    {% endif %}

                    <div class="commentList">
                        {% for review in reviews_with_body %}
                            <div class="comment">
                                {% if review.owner == request.user.profile %}
                                    <details class="dropdown">
                                        <summary class="menuSummary">
                                            <i class="im im-menu-dot-h"></i>
                                        </summary>
                                        <div class="dropdown__menu glass-2">
                                            <a href="{% url 'project-review-id' project.id review.id %}" class="dropdown__item"><i class="im im-pencil"></i>Edit</a>
                                            <a href="{% url 'delete-project-review' review.id %}" class="dropdown__item"><i class="im im-trash-can"></i>Delete</a>
                                        </div>
                                    </details>
                                {% endif %}

                                <a href="{% url 'profile' review.owner.id %}">
                                    <img class="avatar avatar--sm" src="{{review.owner.imageURL}}" alt="user" />
                                </a>

                                <div class="comment__details">
                                    <a href="{% url 'profile' review.owner.id %}"
                                        class="comment__author">{{review.owner.first_name}} {{review.owner.last_name}}
                                    </a>
                                    <div class="comment__meta">
                                        <small class="created__on">{{ review.created_on|timesince }} ago.</small>
                                        {% if review.last_edited %}
                                        <small class="edited"><em>(edited)</em></small>
                                        {% endif %}
                                    </div>

                                    <p class="comment__info">{{review.body | linebreaksbr}}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}