{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content__box">
        <div class="formWrapper">
            <a class="backButton" href="{{request.META.HTTP_REFERER|default:'/'}}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                  <label for="{{field.id_for_label}}">{{field.label}}</label>
                  {{field}}
                </div>
                {% endfor %}

                <!-- {{ form.as_p }} -->
                <!-- Access the id attribute of the 'name' field  -->
                <!-- <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" /> -->

                <!-- Or directly output the form field with its id attribute -->
                <!-- {{ form.name }} -->

                <div class="form__field">
                    {% for tag in project.tags.all %}
                    <div class="project-tag tag tag--pill tag--main" data-tag="{{tag.id}}"
                        data-project="{{project.id}}">{{tag.name}} &#215;</div>
                    {% endfor %}
                </div>

                <div class="form__field">
                    <label for="formInput#text">Tags</label>
                    <textarea class="input" name="newtags" placeholder="Add tags here..."></textarea>
                </div>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock %}